/*--css 初始化-- */

a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var,
button,
input,
textarea {
    margin: 0;
    padding: 0;
}

fieldset,
img,
input,
button {
    border: none;
    outline-style: none;
}

ul,
ol {
    list-style: none;
}

input {
    font-family: "Helvetica", " Microsoft YaHei";
    font-size: 14px;
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 14px;
}


/*--防止拖动--*/

textarea {
    resize: none;
}


/*--去掉图片低测默认的3像素空白缝隙--*/

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s,
i,
em {
    font-style: normal;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/*--解决button在firefox下文字不能上下居中的问题--*/

button::-moz-focus-inner {
    margin: 0;
    padding: 0px 0 2px;
    border: none;
}

body {
    width: 100%;
    min-width: 1080px;
    font-family: "Helvetica", " Microsoft YaHei";
    font-size: 14px;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*--清除浮动--*/

.clearfix {
    *+height: 1%;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.out-wrap {
  width: 100%;
}
.inner-wrap {
  position: relative;
  width: 100%;
}
.header {
  width: 100%;
  padding: 6px 13px 6px 20px;
  border-bottom: 1px solid #e7ebff;
  background: #fff;
}
.head-title {
  float: left;
  font-size: 32px;
  color: #8fa3d2;
}
.head-search {
  position: relative;
  float: right;
  margin-right: 8px;
}
.head-search .iconfont {
  position: absolute;
  top: 11px;
  left: 6px;
  cursor: pointer;
  color: #a4a9c8;
}
.head-search input {
  width: 166px;
  height: 25px;
  padding: 3px 10px 3px 25px;
  margin-top: 5px;
  border: 1px solid #eaedfb;
  border-radius: 3px;
  font-size: 12px;
  color: #a2b1cf;
  background: #f6f8fd;
}
.inner-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
}
.inner-right {
  width: 100%;
  padding-left: 220px;
  border-left: 1px solid #e7ebff;
}
.user {
  position: relative;
  padding: 15px 10px 15px 60px;
  background: #f9faff;
}
.user >div {
  float: left;
  width: 100%;
}
div.user-pic {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.user-info .icon-yousanjiao {
  position: absolute;
  top: 28px;
  right: 3px;
  color: #576099;
}
.user-name {
  overflow: hidden;
  width: 100%;
  font-size: 14px;
  line-height: 25px;
  color: #576099;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.user-tel {
  font-size: 12px;
  line-height: 25px;
  color: #8fa3d2;
}
.manage {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 6px;
  border-top: 1px solid #e7ebff;
  border-bottom: 1px solid #e7ebff;
  background: #f9faff;
}
.manage li {
  float: left;
  width: 33.33333%;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
  color: #576099;
  text-align: center;
  cursor: pointer;
}
.manage .second-li {
  border-right: 1px solid #f1f1f4;
  border-left: 1px solid #f1f1f4;
}
.manage img {
  margin-top: 10px;
  margin-bottom: 8px;
}
.bgicon {
  height: 40px;
}
.setting {
  background: url(../img/Settings.png) no-repeat center;
}
.manger {
  background: url(../img/Notebook.png) no-repeat center;
}
.share {
  background: url(../img/Folder.png) no-repeat center;
}
.left-menu .menu-item {
  display: block;
  height: 43px;
  border-left: 4px solid transparent;
  font-size: 14px;
  line-height: 43px;
  cursor: pointer;
  color: #576099;
  opacity: .5;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50)\0;
}
.left-menu .icon-shouyeshouye {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 21px;
  font-weight: bold;
}
.left-menu .icon-yousanjiao, .left-menu .icon-xiasanjiao {
  float: right;
  margin-right: 5px;
}
.menu-item.active {
  border-left-color: #6376b3;
  opacity: 1;
  background: linear-gradient(-90deg, #f2f7ff 3%, #f2f7ff 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#f2f7ff, endColorstr=#f2f7ff);
}
.sub-menu {
  display: none;
  padding-left: 40px;
  font-size: 14px;
  line-height: 33px;
  cursor: pointer;
  color: #576099;
  background: #fafbfe;
  opacity: .7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

/*--rightarea start--*/
.right-menu {
  width: 100%;
  height: 31px;
  border-bottom: 1px solid #e7ebff;
  background: #f9faff;
  overflow: hidden;
}
.right-menu li {
  float: left;
  padding-left: 7px;
  padding-right: 7px;
  height: 30px;
  border-right: 1px solid #e7ebff;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  color: #6376b3;
  text-align: center;
  background-image: linear-gradient(-180deg, #fefefe 0%, #f9faff 100%);
}
.right-menu li.current {
  color: #fff;
  background: #95a8d5;
}
.right-menu .icon-guanbi {
  margin-right: 3px;
  margin-left: 3px;
  font-size: 12px;
}
.right-con {
  width: 100%;
  height: auto;
  padding: 0 20px 20px 20px;
  background: #ecf1f9;
}
.page-tabs {
  padding: 10px 0;
  line-height: 21px;
}
.page-tabs li {
  float: left;
  color: #9dacd7;
}
.page-tabs li.tab-first {
  font-size: 12px;
  color: #576099;
}
.page-tabs .icon-shouyeshouye {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 21px;
  font-weight: bold;
  vertical-align: middle;
}
.page-tabs li .tab-split {
  display: inline-block;
  margin: 0 5px;
}

/*--dispatch-uddate start--*/
.dispatch-update {
  position: relative;
  width: 100%;
  height: 213px;
  padding: 10px;
  border: 1px solid #e7ebff;
  background: #fff;
  box-shadow: 0 2px 4px 0 #eee;
}
.inner-title {
  margin-bottom: 5px;
}
.inner-title >p {
  float: left;
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #576099;
}
.title-right {
  float: right;
}
.dispatch-wrap {
  position: relative;
  width: 100%;
  min-height: 155px;
  padding-left: 140px;
  margin-bottom: 2px;
}
.all-counts {
  position: absolute;
  top: -7px;
  left: 0;
  width: 126px;
  height: 160px;
  border: 1px solid #e9eef6;
  color: #576099;
  text-align: center;
  background: #e6f0ff;
  background: rgba(229, 239, 255, .52);
}
.all-counts h3 {
  margin-top: 35px;
  font-size: 38px;
  line-height: 27px;
  letter-spacing: -.3px;
}
.all-counts h4 {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 27px;
  color: #8fa3d2;
  letter-spacing: -.11px;
}
.all-counts h5 {
  font-size: 14px;
}
.cards-wrap {
  font-size: 0;
}
.cards-wrap >li {
  display: inline-block;
  width: 20%;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: middle;
}
.cards {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid #e7ebff;
  text-align: center;
  background: #fafbfe;
  box-shadow: 0 2px 4px 0 #eee;
}
.cards .echarts-icon {
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  font-size: 26px;
  line-height: 70px;
  color: #8597c8;
}
.cards-name {
  font-size: 12px;
  line-height: 20px;
  color: #5ca4e7;
}
.cards-num {
  font-size: 24px;
  color: #576099;
}
.pie-echarts {
  width: 70px;
  height: 70px;
  margin: 10px auto -5px;
}

/*--dispatch-uddate end--*/

/*--my-task start--*/

.my-task {
  position: relative;
  width: 100%;
  min-height: 286px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e7ebff;
  background: #fff;
  box-shadow: 0 2px 4px 0 #eee;
}
.inner-title .iconfont {
  float: right;
  margin-left: 6px;
  font-size: 19px;
  cursor: pointer;
  color: #6376b3;
}
.inner-title .icon-jiahao {
  margin-top: -2px;
  margin-bottom: 7px;
}

/*--table start--*/
.table {
  width: 100%;
  height: auto;
  border: 1px solid #e7ebff;
  border-bottom: none;
  font-size: 12px;
  text-align: center;
  background: #f6f8fd;
  border-collapse: collapse;
}
.table td, .table th {
  position: relative;
  height: 38px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 38px;
  word-break: break-all;
  box-shadow: 0 1px 0 0 #e7ebff;
}
.table th {
  color: #55a0e6;
}
.table td {
  color: #576099;
}
.table span {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  margin-right: 12px;
  margin-left: 12px;
  border: 1px solid #e7ebff;
  border-radius: 10px;
  line-height: 20px;
  vertical-align: middle;
  background: #ecf1f9;
}
.table .waiting {
  border: 1px solid transparent;
  color: #fff;
  background: #ff6a6c;
}
.table .running {
  border: 1px solid transparent;
  color: #fff;
  background: #9790ff;
}
.table .done {
  border: 1px solid transparent;
  color: #fff;
  background: #12c4e2;
}
.table-bottom {
  position: absolute;
  right: 10px;
  bottom: 11px;
}
.table-bottom .page {
  position: relative;
  border: 1px solid #e7ebff;
  border-radius: 4px;
  line-height: 20px;
  text-align: center;
  background: #fff;
}
.page-number {
  margin-right: -1px;
}
.page-number li {
  float: left;
  width: 26px;
  border-right: 1px solid #e7ebff;
  color: #6376b3;
}
.page-number a {
  display: block;
}
.page li.current {
  color: #fff;
  background: #8fa3d2;
}
.page-number a .iconfont {
  color: #8fa3d2;
}

/*--table end--

/*--汇总开始--*/
.summary {
  width: 100%;
}
.summary-ul {
  width: 100%;
}
.sum-item {
  position: relative;
  float: left;
  width: 25%;
  padding: 10px;
  border: 1px solid #e7ebff;
  border-right: none;
  background: #fff;
}
.sum-item.expand {
  top: -10px;
  box-shadow: 0 5px 8px 0 #b8bfc1;
}
.sum-item .inner-title p {
  margin-top: 5px;
  font-size: 12px;
  line-height: 24px;
  color: #576099;
}
.lines {
  position: absolute;
  right: 27.1%;
}
.line-item {
  width: 52px;
  height: 1px;
}
.firstline .line-item {
  background-color: #495cfd;
}
.secondline .line-item {
  background-color: #b825ff;
}
.firstline {
  top: 10px;
}
.secondline {
  top: 21px;
}
.circle {
  position: absolute;
  top: -1px;
  left: 100%;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
.firstline .circle {
  background-color: #495cfd;
}
.secondline .circle {
  background-color: #b825ff;
}
.count {
  position: absolute;
  left: 110%;
  font-size: 10px;
  color: #576099;
}
.firstline .count {
  top: -7px;
}
.secondline .count {
  top: -6px;
}
.sum-echarts {
  width: 130px;
  height: 130px;
  margin: auto;
}
.progress {
  width: 100%;
  padding: 35px 43px 0 20px;
}
.progress-wrap {
  position: relative;
  width: 100%;
  height: 8px;
  border-radius: 3px;
  background: #e7e9eb;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .09);
}
.pro-two {
  margin-top: 25px;
}
.progress-wrap .pro-update, .progress-wrap .pro-notupdate {
  position: relative;
  float: left;
  height: 100%;
  border-radius: 3px;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, .09);
}
.progress-wrap .pro-update {
  width: 80px;
  background: linear-gradient(90deg, #4a5bfe 0%, #4c94ed 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#4c94ed, endColorstr=#4a5bfe);
}
.progress-wrap .pro-notupdate {
  width: 50px;
  background: linear-gradient(90deg, #bc24ff 0%, #7744fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#bc24ff, endColorstr=#7744fe);
}
.progress-wrap .pro-count {
  float: right;
      margin-top: -3px;
    margin-right: -33px;
  font-size: 10px;
  color: #576099;
}
.percent {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 30px;
  line-height: 130px;
  color: #576099;
  text-align: center;
}
.rep-name {
  margin-bottom: 2px;
  font-size: 12px;
  color: #9dacd7;
  letter-spacing: -.73px;
}
.rep-counts {
  font-size: 16px;
  color: #576099;
}
.sum-item .cards {
  min-height: 233px;
  padding-top: 30px;
  border: none;
  box-shadow: none;
}
.sum-item .cards-num {
  font-size: 30px;
}
.cards-time {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 30px;
}
.cards-time i {
  margin-right: 2px;
  vertical-align: middle;
}
.report-info >div {
  float: left;
  width: 50%;
  text-align: center;
}
.report-info i, .report-name {
  display: inline-block;
  vertical-align: middle;
}
.report-info img {
  height: 25px;
}
.color-blue {
  color: #495dfc;
}
.color-purple {
  color: #b824ff;
}
.color-gray {
  color: #dedfe0;
}
.echarts-wrap {
  position: relative;
}

/*--select start--*/
.dropdwon {
  position: relative;
  width: 64px;
  height: auto;
}
.dropdwon-header p {
  position: relative;
  display: block;
  width: 100%;
  max-width: initial;
  padding-left: 8px;
  border: 1px solid #eaedfb;
  border-radius: 3px;
  font-size: 12px;
  line-height: 25px;
  color: #576099;
  background: #f6f8fd;
}
.dropdwon-header .icon-xiasanjiao {
  position: absolute;
  top: 50%;
  left: 37px;
  width: 25px;
  height: 25px;
  margin-top: -15px;
  font-size: 18px;
  line-height: 30px;
  color: #576099;
  text-align: center;
}
.dorpdwon-con {
  position: absolute;
  left: 0;
  z-index: 1;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: auto;
  max-height: 200px;
  margin-top: -1px;
  border: 1px solid #eaedfb;
  font-size: 12px;
  line-height: 25px;
  color: #576099;
  background: #f6f8fd;
}
.dropdwon-select li {
  overflow: hidden;
  width: 100%;
  height: 25px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dropdwon-select li a {
  display: block;
}
.dropdwon-select li:hover {
  background: #f4f4f4;
}

/*--select end--*/